@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3{
   font-family: "Bricolage Grotesque", sans-serif; 
   text-transform: uppercase;
}

.navbar {
    border-bottom: 3px solid red;
}

#home-hero {
    background-image: url(../images/home_hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
}

#menu-hero {
    background-image: url(../images/menu_hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

footer {
    border-top: 3px solid red;
}

