.nav-underline {
    border-bottom: 3px solid red;
}

#home-hero {
    background-image: url(../images/home_hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}
