@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.btn-primary {
    --bs-btn-color: #000000;
    --bs-btn-bg: #B4CACA;
    --bs-btn-border-color: #B4CACA;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #94a5a5;
    --bs-btn-hover-border-color: #94a5a5;
    --bs-btn-active-bg: #B4CACA;
    --bs-btn-active-border-color: #B4CACA;
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #861F29;
    --bs-btn-border-color: #861F29;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5a151c;
    --bs-btn-hover-border-color: #5a151c;
    --bs-btn-active-bg: #861F29;
    --bs-btn-active-border-color: #861F29;
}

:root {
    --bs-primary: #A3BDBD;
    --bs-primary-rgb: 163, 189, 189;
    --bs-secondary: #D8E6E9;
    --bs-secondary-rgb: 216, 230, 233;
    --bs-danger: #861F29;
    --bs-danger-rgb: 134, 31, 41;
    --main-red: #861F29;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3{
   font-family: "Bricolage Grotesque", sans-serif; 
   text-transform: uppercase;
}

h3 {
    color: var(--main-red);
}

.navbar {
    border-bottom: 3px solid var(--main-red);
}

#home-hero {
    background-image: url(../images/home_hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
}

.hero-overlay {
    
    position: absolute;
    top: 40%;
    width: 100%;
    height: 250px;
    background-color: rgba(134, 31, 41, 0.7);
}

#menu-hero {
    background-image: url(../images/menu_hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

#about-hero {
    background-image: url(../images/about_us_hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}


footer {
    border-top: 3px solid var(--main-red);
}

